package ${package}.service;

import ${package}.entity.${className};
import com.baomidou.mybatisplus.extension.service.IService;

/**
 * Module: ${className}.java
 *
 * @date ${date}
 */
public interface ${className}Service extends IService<${className}> {
}
