<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>arknights.wiki - 明日方舟</title>
    <style>
        p {
            text-align: center;
        }

        ul, li {
            list-style-type: none;
        }

    </style>
</head>
<body>
<p>PS:这里不是明日方舟wiki</p>
<div>
    <ul>
        <li><a href="https://ngabbs.com/thread.php?fid=-34587507">NGA论坛</a></li>
        <li><a href="http://wiki.joyme.com/arknights/%E9%A6%96%E9%A1%B5">真实的wiki</a></li>
        <li><a href="https://graueneko.github.io/akhr.html">公开招募计算</a></li>
        <li>
            <a href="http://www.arkpusheen.com/2019/07/07/%E6%98%8E%E6%97%A5%E6%96%B9%E8%88%9F%E5%B9%B2%E5%91%98%E5%9F%BA%E5%BB%BA%E6%8A%80%E8%83%BD%E6%95%B4%E5%90%88/">基建技能整合</a>
        </li>
        <li><a href="http://shuijiaomao.com/#/ArkNights/search">抽卡模拟器等</a></li>
    </ul>
</div>
</body>
</html>