<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FGO英灵印象问卷</title>
</head>
<body>
<div>
<table>
    <thead>
        <tr>
            <td>英灵</td>
            <td>初始印象</td>
            <td>现在印象</td>
            <td>英灵</td>
            <td>初始印象</td>
            <td>现在印象</td>
            <td>英灵</td>
            <td>初始印象</td>
            <td>现在印象</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>